/* GLOBAL STYLES */
body {
  font-family: 'Open Sans', helvetica, arial, sans;
  color: #0059b3;
}
.main-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
  max-height: 95vh;
}
.main-wrapper > div {
  box-sizing: border-box;
  height: 95vh;
  overflow: scroll;
}
.background-image {
  min-height: 95vh;
  position: relative;
}
.background-image::after {
  background-image: url(/images/background.jpg);
  background-position: center top;
  background-size: cover;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}
.menu-container {
  border-right: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  display: flex;
  flex: 0 0 auto;
  overflow: scroll;
  width: 30%;
}
.content-container {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', helvetica, sans;
  font-weight: 100;
}
.invisible-check {
  display: none;
}

/* HEADER STYLES */
.header {
  background-image: url(/images/header.jpg);
  background-position: center center;
  background-size: cover;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  height: 5vh;
  width: 100vw;
  z-index: 20;
  position: fixed;
}
.header .menu-button {
  color: rgba(153, 51, 51, 0.7);
  font-size: 4vh;
  padding: 0.5vh;
}

/* MENU STYLES */
.menu-content {
  list-style: none;
  padding-left: 1vw;
  font-weight: bold;
}
.menu-content a {
  text-decoration: none;
}
.menu-content a:visited {
  color: inherit;
}
.menu-content a:visited:hover {
  color: rgba(153, 51, 51, 0.7);
}
.menu-content li {
  margin: 2vh;
}
.triangle {
	border-top: 0.5em solid transparent;
	border-left: 0.5em solid;
	border-bottom: 0.5em solid transparent;
  content: "";
  left: 1vw;
  height: 0;
  position: absolute;
  width: 0;
}
.menu-content > li:first-child::before {
  display: none;
}
.menu-items:hover {
  cursor: pointer;
  color: rgba(153, 51, 51, 0.7);
}
.characters-list {
  list-style: none;
  max-height: 0;
  overflow: hidden;
}
.invisible-check:checked ~ .characters-list {
  max-height: 90vh;
  transition: all 0.5s ease-in-out;
}
.invisible-check:checked ~ .triangle {
  transition: all 0.2s ease-in-out;
  transform: rotate(90deg);
}
.invisible-check:not(:checked) ~ .characters-list {
  max-height: 0;
  transition: all 0.2s ease-in-out;
}
.invisible-check:not(:checked) ~ .triangle {
  transition: all 0.2s ease-in-out;
  transform: rotate(0);
}

/* PAGE STYLES */
.page-location {
  font-size: 2em;
  margin: 10px;
}
.page-title {
  font-size: 3em;
  text-align: center;
}

/* HOME STYLES */
.home {
  width: 100%;
}
