<nav>
  <ul class="menu-content">
    <li><a class="menu-items" href="/">主頁</a></li>
    <li class="">
      <input type="checkbox" id="click-characters" class="invisible-check">
      <em class="triangle"></em>
      <div class="menu-items">
        <label for="click-characters" class="show-characters">
          角色介紹
        </label>
      </div>
      <ul class="characters-list">
        <li><a href="/">火屬</a></li>
        <li><a href="/">水屬</a></li>
        <li><a href="/">雷屬</a></li>
        <li><a href="/">風屬</a></li>
        <li><a href="/">光屬</a></li>
        <li><a href="/">暗屬</a></li>
      </ul>
    </li>
    <li>
      <input type="checkbox" id="click-event" class="invisible-check">
      <div class="menu-items">
        <label for="click-event" class="show-event">
          活動
        </label>
      </div>
    </li>
    <li>
      <input type="checkbox" id="click-strategy" class="invisible-check">
      <div class="menu-items">
        <label for="click-strategy" class="show-strategy">
          攻略區
        </label>
      </div>
    </li>
  </ul>
</nav>
