<nav>
  <ul class="menu-content">
    <li class="menu-items"><a href="{{ site.baseurl }}/">Home</a></li>
    <li class="menu-items">
      <input type="checkbox" id="click-characters" class="invisible-check">
      <em class="triangle"></em>
      <div>
        <label for="click-characters" class="show-characters">
         Item 1 
        </label>
      </div>
      <ul class="characters-list">
        <li><a href="{{ site.baseurl }}/">Sub Item 1</a></li>
        <li><a href="{{ site.baseurl }}/">Sub Item 2</a></li>
        <li><a href="{{ site.baseurl }}/">Sub Item 3</a></li>
        <li><a href="{{ site.baseurl }}/">Sub Item 4</a></li>
        <li><a href="{{ site.baseurl }}/">Sub Item 5</a></li>
      </ul>
    </li>
    <li class="menu-items">
      <input type="checkbox" id="click-event" class="invisible-check">
      <em class="triangle"></em>
      <div class="menu-items">
        <label for="click-event" class="show-event">
         Item 2 
        </label>
      </div>
    </li>
    <li class="menu-items">
      <input type="checkbox" id="click-strategy" class="invisible-check">
      <em class="triangle"></em>
      <div class="menu-items">
        <label for="click-strategy" class="show-strategy">
         Item 3 
        </label>
      </div>
    </li>
  </ul>
  <div class="visitor-counter">
    <span>瀏覽人次</span>
    <a href='http://www.hit-counts.com'>
      <img class="counter-object"
      src='http://www.hit-counts.com/counter.php?t=MTQxNTIyNw=='
      border='0' alt='Visitor Counter'>
    </a>
    <a href='http://www.hit-counts.com'>Credit to Visitor Counter</a>
  </div>
</nav>
